mi_entorno
__pycache__
Programas viejos
Imagenes
predictWaste12_resnest50.h5
model_retrained_REALDATA.h5
predictWaste_mobilenetv2_v2.h5
predictWaste_mobilenetv2_v1.h5
yoloooo.pt
.vscode/
Identificacion de objetos/
~$*
*.tmp
*.lnk